{
  "arrowParens": "avoid",
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "useTabs": false,
  "plugins": ["prettier-plugin-glsl"],
  "overrides": [{ "files": ["*.frag"], "options": { "parser": "glsl-parser" } }]
}
